.chip {
    background-color: #7A5542 !important;
}

.highlightOption {
    background-color: #7A5542 !important;

}

.multiSelectContainer li:hover {
    background-color: #7A5542 !important;

}

.search-wrapper.searchWrapper{
    padding: 10px;
    border-radius: 0.5rem;

}