.vertical-timeline-element {
    margin: 1em 0 !important;
}

.vertical-timeline.vertical-timeline--two-columns:before {
    margin-left: 0 !important;
}

.vertical-timeline {
    padding: 0 !important;
}

.vertical-timeline-element-content p {
    color: #7A5542;
    margin: 0;
}

.vertical-timeline::before {
    background: #5D2F18;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    font-weight: 600;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element:first-child {
        margin-top: 0 !important;
    }

    .vertical-timeline.vertical-timeline--two-columns {
        width: 100% !important;
    }

    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        width: 40px;
        height: 40px;
        left: 50%;
        margin-left: -20px;
    }

    .vertical-timeline--two-columns .vertical-timeline-element-content {
        padding: 0.5rem;
    }

}

.text-timeline {
    font-family: "Dancing Script", cursive;
}