@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Anton', sans-serif; */

}

.container {
  @apply mx-auto px-3 md:max-w-[992px] lg:max-w-[1320px]
}

.active {
  background-image: url("./assets/first-section/icon-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headernavlink:hover {
  background-image: url("./assets/first-section/icon-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in;
}

/* .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #303030;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.active:hover::after,
.active:focus::after {
  transform: scaleX(1);
} */

/* 
.CircularProgressbar .CircularProgressbar-path {
  stroke: #000000 !important;
  stroke-width: 2;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke-width: 2;

}

.CircularProgressbar .CircularProgressbar-text {
  fill: #000000 !important;
} */



.progress {
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #000000;
  border: 2px solid #757272;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #F6F6F6;
  text-align: center;
  line-height: 200px;
  margin: 20px
}

.progress::after {
  content: "%";
}

.progress .title {
  position: relative;
  z-index: 100;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F6F6F6;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #000000;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.progress .left {
  animation: load1 1s linear forwards;
}

.progress:nth-of-type(2) .right,
.progress:nth-of-type(3) .right {
  animation: load2 .5s linear forwards 1s;
}

.progress:last-of-type .right,
.progress:first-of-type .right {
  animation: load3 .8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}



.peraBg {

  background-image: linear-gradient(rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0.925)), url("./assets/contentImage/pera.webp");

}

@keyframes gapTextAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(150px);
  }
}

.gap-text-animation {
  animation: gapTextAnimation 3s ease-in-out forwards;
  animation-delay: 500ms;
}


.piechart canvas {
  height: 200px !important;
}


.react-tabs__tab--selected {

  background-color: #7A5542 !important;
  color: #ffffff !important;
  border: none !important;

}