@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scrollbar-width: thin;
  scrollbar-color: #F9EBE0 #7a5441b8;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-thumb {
  background-color: #F9EBE0;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background:#7A5441;
  border-radius: 8px;
}





@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Satisfy&display=swap');


@font-face {
  font-family: 'samanfont';
  src: url('./assets/fonts/SAMAN___.TTF') format('truetype');
}


html {
  scroll-behavior: smooth;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: sans-serif !important;
  /* font-family: 'Anton', sans-serif; */

}

.container {
  @apply mx-auto px-3 md:max-w-[992px] lg:max-w-[1320px]
}

/* .active {
  background-image: url("./assets/first-section/icon-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: -5;
} */

.headernavlink:hover {
  background-image: url("./assets/first-section/icon-img.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  
}
.headernavlink::after{
  content: "";
  height: 25px;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.932);
  top: 50%;
  left:0 ;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.highLightlink{
  border: 20px solid transparent;
  border-image: url('./assets/first-section/icon-img.png') 130 round;
}

.shopbg {
  background-image: url("./assets/first-section/icon-img.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  transition: all 0.5s ease-in;
}

.text-shadow{
  text-shadow: 1px 1px 10px #5D2F18,1px 1px 10px #5D2F18;
}


.progress {
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #000000;
  border: 2px solid #757272;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #F6F6F6;
  text-align: center;
  line-height: 200px;
  margin: 20px
}

.progress::after {
  content: "%";
}

.progress .title {
  position: relative;
  z-index: 100;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F6F6F6;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #000000;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.progress .left {
  animation: load1 1s linear forwards;
}

.progress:nth-of-type(2) .right,
.progress:nth-of-type(3) .right {
  animation: load2 .5s linear forwards 1s;
}

.progress:last-of-type .right,
.progress:first-of-type .right {
  animation: load3 .8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}



.peraBg {

  background-image: linear-gradient(rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0.925)), url("./assets/contentImage/pera.webp");

}

@keyframes gapTextAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(150px);
  }
}

.gap-text-animation {
  animation: gapTextAnimation 3s ease-in-out forwards;
  animation-delay: 500ms;
}


.piechart canvas {
  height: 200px !important;
}




.shadow-custom:hover {
  box-shadow: -7px 10px 12px 2px rgba(122 85 66 / 40%);
}


.my-button::before {
  content: "";
  position: absolute;
  margin: auto;
  width: 0%;
  height: 0%;
  background: #69402b9f;
  transition: 0.5s ease-out;
  border-radius: 100% 100% 100% 100%;
  opacity: 0%;
}

.my-button:hover:before {
  width: 500px;
  height: 500px;
  transition: 0.5s ease-out;
  border-radius: 0;
  animation: opacity-in .7s forwards ease-out;
}

.my-button:hover {
  animation: bouncerino-in .5s forwards alternate ease-out;
}

.my-button:hover:p {
  transform: scale(5);
  transition: 0.7s ease-out;
}


.my-button {
  animation: bouncerino-out .5s;
}

@keyframes bouncerino-in {
  100% {
    transform: scale(1.075);
  }

  70% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(1.075);
  }

  40% {
    transform: scale(1.09);
  }
}

@keyframes bouncerino-out {
  100% {
    transform: scale(1.0);
  }

  0% {
    transform: scale(1.075);
  }
}

@keyframes opacity-in {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}


.react-tabs__tab--selected {
  background-color: #7A5542 !important;
  color: white !important;

}


.footerimg {
  position: relative;
  width: 100%;
  /* Set the width as needed */
  /* Set the height as needed */
  background: linear-gradient(45deg, rgba(93, 47, 24, 0.912), rgba(122, 85, 66, 0.468)), url("./assets/footer/footerimage.webp");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  
}


.masked-text-wrapper {
  --_box-width: 40rem;

  width: var(--_box-width);
  text-align: center;
  position: relative;
}

.masked-text-wrapper h2 {
  font-size: 7.5rem;
  font-weight: 500;
  margin: 0;
  /* color: #333; */
  text-transform: uppercase;
  font-family: "samanfont";
}

.masked-text-wrapper .text-default:before,
.masked-text-wrapper .text-default:after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #5D2F18;
  position: absolute;
  top: 0;
  transform: skew(-28deg);
}

.masked-text-wrapper .text-default:before {
  animation: moveLinesBefore 8s infinite;
}

.masked-text-wrapper .text-default:after {
  animation: moveLinesAfter 8s infinite;
}

.masked-text-wrapper .text-underneath {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--_box-width);
  color: white;
  animation: rectangle 8s infinite;
}

@keyframes moveLinesBefore {
  0%,
  100% {
    left: 50%;
  }

  50% {
    left: 30%;
  }
}

@keyframes moveLinesAfter {
  0%,
  100% {
    left: 70%;
  }

  50% {
    left: 50%;
  }
}


@media only screen and (max-width: 625px){
  .masked-text-wrapper h2 {
    font-size: 56px;
  }
  .masked-text-wrapper{
    --_box-width: 18rem;
  }
  .swiper-button-prev, .swiper-button-next{
    display: none !important;
  }
}

#journey{
  scroll-margin-top: -400px;

}
#vision{
  scroll-margin-top: 100px;

}
#shop{
  scroll-margin-top: 100px;

}
#blog{
  scroll-margin-top: 100px;

}